<h1>New Country</h1>

<%= form_for(@country) do |form| %>
  <%= render form %>
  <div class="actions">
    <%= form.submit 'Create Country' %>
  </div>
<% end %>

<%= link_to 'Back', player_countries_path(@player) %>
