<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h1>Welcome to Settlers of Catan</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<h1>Come Play!</h1>
		</div>
	</div>
</div>